<div class="page-container">
  <div class="button-container">
    <%= button_to 'New Game', hangman_game_index_url, method: :post %>
    <%= button_to 'View Past Games', hangman_game_index_url, method: :get %>
    <%= button_to '???', 'https://www.youtube.com/watch?v=VeSyyu5JrLY', method: :get %>
  </div>
</div>
