<div>
  <div class='interface-component'>
    Current word:
    <div>
      <%= masked_word(@game) %>
    </div>
  </div>
  <div class='interface-component'>
    Letters not in word:
    <%= format_guesses(@game.incorrect_guesses) %>
  </div>
    <div class='interface-component'>
      Lives left: <%= @game.lives %>
    </div>
</div>
