<div>
  <div class='interface-component'>
    Current word:
    <div>
      <% game.masked_word.each do |letter| %>
        <% if letter == nil %>
          _
        <% else %>
          <%= letter %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='interface-component'>
    Lives left: <%= game.lives %>
  </div>
</div>
