<div>
  <% reverse_order(@games).each do |game| %>

    <%= link_to game do %>
      <% if game.won? %>
        <div class="game-listing-won">
      <% elsif game.lost? %>
        <div class="game-listing-lost">
      <% else %>
        <div class="game-listing">
      <% end %>

      <% if game.running? %>
        <div class="masked-word">
          <span>
            <%= masked_word(game) %>
          </span>
        </div>
      <% else %>
        <div class="mystery-word">
          <span>
            The word was: <%= game.mystery_word %>
          </span>
        </div>
      <% end %>

      <div class="lives">
        <span>
          Lives left: <%= game.lives %>
        </span>
      </div>

      </div>
    <% end %>
  <% end %>
</div>
