<div class='page-container game-container'>
    <div class='hangman-picture'>
      <% if @game.running? %>
        <%= render 'partials/hangman_game/running_picture' %>
      <% else %>
        <%= render 'partials/hangman_game/gameover_picture' %>
      <% end %>
    </div>
  <div class='user-interface-panel'>
    <%= render 'partials/hangman_game/control_panel' %>
  </div>
</div>
