<%= render 'partials/header' %>
<div class='page-container game-container'>
  <%= render 'partials/hangman_game/game_picture' %>
  <div class='user-interface-panel'>
    <%= render 'partials/hangman_game/game_info', :game => @game %>
    <%= render 'partials/hangman_game/guess_form' %>
  </div>
</div>
