// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin center-content {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

@mixin border-bottom {
  border-bottom: black 1px solid;
}

.title {
  @include center-content;

  @include border-bottom;
}

.button-container {

  form {
    @include center-content;
    @include border-bottom;
  }

  input {
    width: 100%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;

    border: none;

    color: white;
    background-color: black;
  }

  input:hover {
    color: black;
    background-color: white;
  }

}

